<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GitHub Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h1 class="text-center mb-4">My GitHub Dashboard</h1>

<div id="profile" class="text-center mb-5"></div>

<h3 class="mb-3">Repositories</h3>

<div id="repos" class="row"></div>

<br>

<a href="/" class="btn btn-dark">Back Home</a>

<div class="text-center">
<img src="https://github-readme-stats.vercel.app/api?username=Ala-Ganesh&show_icons=true&theme=dark">
</div>

</div>

<script src="{{ url_for('static', filename='js/github.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>